var WEEK_NAME = ['周一', '周二', '周三', '周四', '周五', '周六', '周日', '周一', '周二', '周三', '周四', '周五', '周六', '周日']
// var WIND_MAP = ['微风', '东北风', '东风', '东南风', '南风', '西南风', '西风', '西北风', '北风', '旋转风']
module.exports = {
  humidity: function(h) {
    if (h) {
      return '湿度 ' + h + '%'
    }
    return h
  },
  windLevel: function(level) {
    if (level === '1-2') {
      return '微风'
    } else {
      return level + '级'
    }
  },
  wind: function(code, level) {
    if (!code) {
      return '无风'
    }

    if (level) {
      level = level.toString().split('-')
      level = level[level.length - 1]
      return code + ' ' + level + '级'
    }
    return code
  },
  formatWeeklyDate: function(i) {
    var now = getDate()
    var names = ['今天', '明天', '后天']
    if (names[i]) {
      return names[i]
    }
    var curWeek = now.getDay() - 1 + i

    return WEEK_NAME[curWeek]
  },
  formatDate: function(ts) {
    var date = getDate(ts)
    var month = ('00' + (date.getMonth() + 1)).slice(-2)
    var day = ('00' + date.getDate()).slice(-2)
    return month + '/' + day
  }
}
